body {
    background-color: #121212; /* dunkles Grau/Schwarz */
    color: #ffffff; /* Text weiß für Lesbarkeit */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

h1 {
    padding: 20px;
    text-align: center;
}


.title {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
}

.author {
    font-size: 14px;
    font-style: italic;
    color: #cccccc;
}

.price {
    font-size: 14px;
    font-style: italic;
    color: #cccccc;
}

.complete {
    font-size: 16px;
    font-weight: bold;
    color: #003aaa;
}

.incomplete {
    font-size: 16px;
    font-weight: bold;
    color: #ffc400;
}

.gelesen {
    font-size: 16px;
    font-weight: bold;
    color: #26bd00;
}

.info {
    font-size: 16px;
    color: #ffe600
}

.gallery {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 20px;
    padding: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 0px;
    transition: transform 0.2s;
}

.gallery {
    text-align: left;
}

.cover-container {
    position: relative;
    width: 500px; /* Bildbreite */
    height: 250px; /* Bildhöhe */
}

.cover-container .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; /* sanfte Transition */
}

.cover-container .hover {
    opacity: 0; /* standardmäßig unsichtbar */
}

.cover-container:hover .hover {
    opacity: 1; /* beim Hover sichtbar */
}

.cover-container:hover .default {
    opacity: 0; /* Standardbild ausblenden */
}

.progress-bar {
    width: 250px;
    background-color:#e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 20px;
    background-color: #26bd00;
    width: 100%;
    padding-left: 8px;          /* Abstand von links */
    display: flex;
    align-items: center;        /* vertikal zentriert */
    color: #000;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;        /* verhindert Zeilenumbruch */
    transition: width 0.3s ease;
    
}

.probarcon {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

.googlebild {
    display: block;
    margin: 0 auto;
    width: 500px; /* Bildbreite */
    height: 250px; /* Bildhöhe */
}

.headinfo {
    padding: 20px;
    text-align: center
}
.googlefont {
    padding-left: 695px;
}

.zitate {
    font-size: 18px;
    font-family: Times New Roman, Times, serif;
    color: #f5f5f5;
    padding-left: 100px;
}
