body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
}

.author {
    font-size: 14px;
    font-style: italic;
    color: #cccccc;
}

.price {
    font-size: 14px;
    font-style: italic;
    color: #cccccc;
}

.complete {
    font-size: 16px;
    font-weight: bold;
    color: #003aaa;
}

.incomplete {
    font-size: 16px;
    font-weight: bold;
    color: #ffc400;
}

.gelesen {
    font-size: 16px;
    font-weight: bold;
    color: #26bd00;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s;
}

.cover-container {
    position: relative;
    width: 186px; /* Bildbreite */
    height: 284px; /* Bildhöhe */
}

.cover-container .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; /* sanfte Transition */
}

.cover-container .hover {
    opacity: 0; /* standardmäßig unsichtbar */
}

.cover-container:hover .hover {
    opacity: 1; /* beim Hover sichtbar */
}

.cover-container:hover .default {
    opacity: 0; /* Standardbild ausblenden */
}

.gallery {
    text-align: left;
}
