body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.item {
    text-align: center;
}

.item p {
    margin-top: 8px;
    font-size: 14px;
    color: #ddd;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}
