body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}
.cover-container {
    position: relative;
    width: 180px; /* Bildbreite */
    height: 250px; /* Bildhöhe */
}

.cover-container .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease; /* sanfte Transition */
}

.cover-container .hover {
    opacity: 0; /* standardmäßig unsichtbar */
}

.cover-container:hover .hover {
    opacity: 1; /* beim Hover sichtbar */
}

.cover-container:hover .default {
    opacity: 0; /* Standardbild ausblenden */

.gallery {
    text-align: left;
}
